/* Footer Styles */
/* Footer Styles */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    margin-top: 20px;
    padding-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.footer .text-muted {
    font-size: 14px;
}
