.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}

.footer .container {
    text-align: center;
}

.footer .text-muted {
    font-size: 14px;
}
